<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="32" />
    <uses-permission android:name="android.permission.CAMERA"/>

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:enableOnBackInvokedCallback="true"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Gaganyatri"
        tools:targetApi="31">
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyA1JfZafvx9TVC_DCIAwt9K3xbjIDwH5xI" />
        <activity
            android:name=".ImageSearchActivity"
            android:exported="false" />
        <activity
            android:name=".AiChatBotActivity"
            android:exported="true"
            android:windowSoftInputMode="adjustResize"/>
        <activity
            android:name=".ExploreLocationResultActivity"
            android:exported="false" />
        <activity
            android:name=".ExploreYourLocationActivity"
            android:exported="false" />
        <activity
            android:name=".ExploreLocActivity"
            android:exported="false" />
        <activity
            android:name=".PlanYourTripActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddCoTravellerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TripMapViewActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TripCheckListActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TripPlanActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".GetGuideActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TravelGroupActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ModeOfTransportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UserDetailActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TripDetailsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HelpSupportActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".TravelSettingsActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UiModeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ChangeLanguageActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CoTravellerActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OTPVerificationActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OnBoardingActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".MainActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>